<div class="page-wrapper">
  <div class="header">
    <svg-icon (click)="back()" class="icon" src="assets/icon/svg/back.svg"></svg-icon>
    <span class="label flex-free-space"> Смена  пароля </span>
    <div class="icon"></div>
  </div>
  <div class="form">
    <app-shared-input [formControl]="form.get('oldPass')" label="Старый пароль" type="password"></app-shared-input>
    <app-shared-input [formControl]="form.get('newPass')" label="Новый пароль" type="password"></app-shared-input>
    <app-shared-input [formControl]="form.get('repeatPass')" label="Повторите пароль" type="password"></app-shared-input>
    <app-shared-form-error
      *ngIf="form?.errors && form?.touched;"
    > Пароли не совпадают </app-shared-form-error>
    <div class="flex-free-space"></div>
    <app-shared-button (click)="changePass()" style="width: 100%"> Сменить пароль </app-shared-button>
  </div>
</div>
