.container {
  display: flex;
  flex-flow: column-reverse;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1.97vh;
  background: #EAEDF5;

  .interface {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 6.9vw;
    margin-bottom: 2.46vh;
  }

  .arrow {
    width: 6vw;
    height: 6vw;
    margin-top: auto;

    svg-icon {
      color: #FFFFFF;

      svg {
        transform: rotateZ(90deg);
      }
    }
  }

  .button {
    width: 16vw;
    height: 16vw;
    padding: 5.3vw;
    border-radius: 50%;
    background: rgba(49,55,65,.5);

    svg-icon {
      color: #DDDFE3;
    }
  }
}
