<div class="container">
  <div class="shadow"></div>
  <ng-container *ngIf="!!(data$ | async); else loader">
    <img alt="" [src]="(data$ | async).imageUrl"/>
    <div (click)="toggleInfo()" class="rights" [class.rights__active]="isInfo$ | async">
      <span> © </span>
      <div class="info"> Источник: pinterest.ru </div>
    </div>
    <div class="interface">
      <div
        [ngStyle]="{visibility: !!(shopUrl$ | async) ? 'visible' : 'hidden'}"
        class="button" [class.button__favorite]="isFavorite$ | async"
        (click)="setFavorite()"
      >
        <svg-icon src="assets/icon/svg/favorite.svg"></svg-icon>
      </div>
      <div *ngIf="!!(shopUrl$ | async)" (click)="openProduct()" class="shop">
        <svg-icon src="assets/icon/svg/shopping-cart.svg"></svg-icon>
      </div>
      <div (click)="search()" class="button">
        <svg-icon src="assets/icon/svg/search.svg"></svg-icon>
      </div>
    </div>
  </ng-container>
  <ng-template #loader>
    <ion-spinner name="dots"></ion-spinner>
  </ng-template>
</div>
