<div class="container">
  <svg-icon (click)="close()" class="icon icon__back" src="assets/icon/svg/back.svg"></svg-icon>
  <div class="header"> Обратная связь </div>
  <div class="subheader"> Если у вас возникли пожелания или проблемы с приложением, то напишите нам об этом </div>
  <app-shared-input [formControl]="form.get('email')" label="Ваш email" type="email"></app-shared-input>
  <app-shared-select [formControl]="form.get('feedbackCategory')" [values]="selectionThemes$ | async" label="Выберите тему"></app-shared-select>
  <app-shared-textarea [formControl]="form.get('message')" label="Ваше сообщение"></app-shared-textarea>
  <app-shared-form-error *ngIf="!form.valid && form.dirty"> Заполните все поля формы </app-shared-form-error>
  <div class="flex-free-space"></div>
  <app-shared-button (click)="send()" type="main" style="width: 100%">
    Отправить сообщение
  </app-shared-button>
</div>
