<div class="container">
  <div class="logo-wrapper">
    <div class="logo">
      <svg-icon class="logo__icon" src="assets/icon/svg/luc-logo.svg"></svg-icon>
    </div>
  </div>
  <div class="content">
    <div class="buttons-container">
      <app-page-tabs-main-search style="flex-grow: 1"></app-page-tabs-main-search>
      <app-page-tabs-main-camera></app-page-tabs-main-camera>
    </div>
    <div class="recommend-container">
      <div class="title"> Рекоммендации </div>
      <div class="subtitle"> Подборка основанна на вашем вкусе </div>
      <div class="cards">
        <app-page-tabs-main-recommend-card></app-page-tabs-main-recommend-card>
        <app-page-tabs-main-recommend-card></app-page-tabs-main-recommend-card>
        <app-page-tabs-main-recommend-card></app-page-tabs-main-recommend-card>
      </div>
    </div>
    <div class="trend-container">
      <div class="title"> Тренды </div>
      <div class="subtitle"> Модные тенденции осень 2020 </div>
      <div class="cards">
        <app-page-tabs-main-trend-card></app-page-tabs-main-trend-card>
        <app-page-tabs-main-trend-card></app-page-tabs-main-trend-card>
        <app-page-tabs-main-trend-card></app-page-tabs-main-trend-card>
      </div>
    </div>
  </div>
</div>
