$padding-w: 5.33vw;

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  padding: 3.7vh $padding-w 0 $padding-w;
  box-sizing: border-box;
  background: white;
  overflow: scroll;
}

.logo-wrapper {
  display: flex;

  .logo {
    margin: auto;
    height: 2.46vh;
    width: 7.39vh;

    &__icon {
      color: #001424;
      width: 100%;
      height: 100%;
    }
  }
}

.content {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  padding-top: 3.7vh;
  box-sizing: border-box;

  .buttons-container {
    display: flex;
    justify-content: center;
    margin-bottom: 4.93vh;
  }

  .recommend-container {
    display: flex;
    flex-flow: column;
    margin-bottom: 4.93vh;

    .cards {
      display: flex;
      margin-top: 2.46vh;
      overflow: scroll;
      padding-left: $padding-w;
      margin-left: -$padding-w;
      margin-right: -$padding-w;

      .card {
        margin-right: 1.97vh;
        &:last-child {
          margin-right: 0;
        }
      }

      :last-child {
        padding-right: $padding-w;
      }
    }
  }

  .trend-container {
    display: flex;
    flex-flow: column;

    .cards {
      display: flex;
      flex-flow: column;
      margin-top: 2.46vh;

      .card {
        margin-bottom: 2vh;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.title {
  margin-bottom: 1.11vh;
  color: #202D3D;
  text-align: left;
  font-size: 2.95vh;
  font-weight: 700;
}

.subtitle {
  text-align: left;
  color: #6B7683;
  font-size: 1.97vh;
  font-weight: 400;
}
