<ng-container *ngIf="shopUrl; else skeletonPageButtons">
  <div class="container">
    <app-shared-button (click)="openShopUrl()" type="main" style="width: 100%">
      Перейти в магазин
    </app-shared-button>
    <div class="sub-container">
      <app-shared-button (click)="goToMainScreen()" type="main-sub" style="width: 100%">
        На главный экран
      </app-shared-button>
    </div>
  </div>
</ng-container>

<ng-template #skeletonPageButtons>
  <div class="container">
    <app-shared-button type="skeleton" style="width: 100%"></app-shared-button>
    <div class="sub-container">
      <app-shared-button type="skeleton" style="width: 100%"></app-shared-button>
    </div>
  </div>
</ng-template>
