.container {
  display: flex;
  flex-flow: column;
  height: 100%;
  background: white;

  .page-wrapper {
    position: relative;
    width: 100%;
    flex-grow: 1;
  }

  .footer {
    width: 100%;
    background: #F3F7FA;
    display: flex;
    justify-content: space-evenly;
    padding: 2.35vh 0;

    &_ios {
      padding-bottom: max(env(safe-area-inset-bottom), 2.35vh);
    }
  }
}

.tab-icon {
  margin: auto 0;
  color: #ACB6C3;
  transition: .2s;
  width: 2.28vh;
  height: 2.28vh;

  &__active {
    color: #2CB172;
    transition: .2s;
  }
}

ion-spinner {
  margin: auto;
  --color: #2CB172;
}
