ion-item {
  --min-height: 7.5vh;
  --padding-start: 0;
}

ion-label {
  font-size: 1.97vh !important;
  font-weight: 500 !important;
  color: #99A0AB !important;
}

ion-select {
  max-width: unset;

  &::part(icon) {

  }

  &::part(placeholder) {
    font-size: 1.97vh !important;
    font-weight: 500 !important;
    color: #99A0AB !important;
    opacity: 1 !important;
  }

  &::part(text) {
    font-size: 1.97vh !important;
    font-weight: 500 !important;
    color: #222222 !important;
  }
}
