<div class="container">
  <app-page-product-header [label]="(sharedData | async)?.shopTitle" (back)="closePage()"></app-page-product-header>
  <div class="scroll-wrapper">
    <div class="img-container">
      <img class="image" alt="" [src]="(sharedData | async)?.imageUrl">
<!--      TODO: add img scroller-->
    </div>
    <app-page-product-price [data]="(sharedData | async)" (favouriteClick)="setFavorite()"></app-page-product-price>
    <app-page-product-buttons [modalController]="modalCtrl" [shopUrl]="(sharedData | async)?.shopUrl"></app-page-product-buttons>
    <app-page-product-info [data]="(sharedData | async)?.infoList"></app-page-product-info>
  </div>
</div>

<ng-template #productContainerEmpty>
  <span class="text-empty"> К сожалению, поиск не дал результатов </span>
</ng-template>
