:host {
  height: 100%;
  display: inherit;
  flex-flow: inherit;
}

:host > * {
  margin-bottom: 1.97vh;

  &:last-child {
    margin-bottom: 0;
  }
}

app-shared-input:nth-last-of-type(1) {
  margin-bottom: 2vh;
}

.agree-container {
  display: flex;
  font-size: 1.72vh;

  .label {
    margin-left: 4.27vw;
  }

  a {
    color: #2CB172;
  }
}

.button {
  width: 100%;
  margin-bottom: 3vh;
}
