$padding-w: 0 4.27vw;

.container {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: scroll;
  background: white;

  .header {
    font-size: 2.71vh;
    font-weight: 700;
    color: #222222;
    margin-top: 2.46vh;
    padding: $padding-w;
    margin-bottom: 1.97vh;
  }

  .subheader {
    font-size: 1.9vh;
    font-weight: 400;
    color: #222222;
    padding: $padding-w;
    margin-bottom: 1.97vh;
  }

  .content-wrapper {
    display: flex;
    max-height: 100%;
    flex-wrap: wrap;
    overflow: auto;
    padding: $padding-w;
    padding-top: 0.5vh;

    .item {
      width: 27.6vw;
      height: 34.13vw;
      margin-right: 4vw;
      margin-bottom: 4vw;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}

ion-content {
  flex-grow: 1;
  overflow: hidden;
  --overflow: hidden;
}
