<div class="container">
  <div class="header"> Избранное </div>
  <div class="subheader"> Ваша персональная коллекция </div>
  <div class="content-wrapper">
    <app-page-tabs-favourites-item (click)="itemClick()" class="item"></app-page-tabs-favourites-item>
    <app-page-tabs-favourites-item (click)="itemClick()" class="item"></app-page-tabs-favourites-item>
    <app-page-tabs-favourites-item (click)="itemClick()" class="item"></app-page-tabs-favourites-item>
    <app-page-tabs-favourites-item (click)="itemClick()" class="item"></app-page-tabs-favourites-item>
    <app-page-tabs-favourites-item (click)="itemClick()" class="item"></app-page-tabs-favourites-item>
    <app-page-tabs-favourites-item (click)="itemClick()" class="item"></app-page-tabs-favourites-item>
    <app-page-tabs-favourites-item (click)="itemClick()" class="item"></app-page-tabs-favourites-item>
    <app-page-tabs-favourites-item (click)="itemClick()" class="item"></app-page-tabs-favourites-item>
  </div>
</div>
