<ng-container *ngIf="!!data; else skeleton">
  <div (click)="openProduct()" class="container">
    <div class="image">
      <img [src]="data.imageUrl">
    </div>
    <div class="label label__title"> {{ data.brand }} </div>
    <div class="label label__subtitle"> {{ data.type | categorySplit }} </div>
  </div>
</ng-container>

<ng-template #skeleton>
  <div class="container">
    <div class="image"></div>
    <ion-skeleton-text class="label label__title" animated style="width:40%; height: 1.23vh"></ion-skeleton-text>
    <ion-skeleton-text class="label label__subtitle" animated style="width:60%; height: 1.23vh"></ion-skeleton-text>
  </div>
</ng-template>

