<app-shared-input [formControl]="loginForm.get('email')" label="Электронная почта" type="email"></app-shared-input>
<app-shared-input [formControl]="loginForm.get('password')" label="Пароль" type="password"></app-shared-input>
<app-shared-form-error *ngIf="!loginForm.valid && loginForm.dirty">
  Не верно заполнен email или пароль
</app-shared-form-error>

<a class="forget-password" (click)="refreshPassword()"> Забыли пароль? </a>

<app-shared-button (click)="loginClick()" class="button" type="main">
  Войти
</app-shared-button>
<app-page-tabs-user-outsource></app-page-tabs-user-outsource>

<div class="menu-container">
  <div class="flex-free-space"></div>
<!--  <app-page-tabs-user-menu (click)="rate()" icon="star"> Оценить приложение </app-page-tabs-user-menu>-->
  <app-page-tabs-user-menu (click)="share()" icon="crowd"> Поделиться с друзьями </app-page-tabs-user-menu>
  <app-page-tabs-user-menu (click)="openFeedback()" icon="fire"> Обратная связь </app-page-tabs-user-menu>
</div>
