:host {
  height: 100%;
  display: inherit;
  flex-flow: inherit;
  gap: inherit;
}

.forget-password {
  font-size: 1.72vh;
  margin-bottom: 1.97vh;
}

.menu-container {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  padding-bottom: 1.97vh;
  margin: 0 -4.27vw;
}
