<div class="container">
  <div class="logo-wrapper">
    <div class="logo">
      <svg-icon class="logo__icon" src="assets/icon/svg/luc-logo.svg"></svg-icon>
    </div>
  </div>
  <div style="flex-grow: 1"></div>
  <div class="slides-container">
    <ion-slides (ionSlidesDidLoad)="slideDetectChange()" (ionSlideDidChange)="slideDetectChange()" #ionSlides>
      <ng-container *ngFor="let card of cards | async">
        <ion-slide>
          <app-page-preview-card [data]="card"></app-page-preview-card>
        </ion-slide>
      </ng-container>
    </ion-slides>
  </div>
  <app-page-preview-pager [data]="cards | async"></app-page-preview-pager>
  <div style="flex-grow: 1"></div>
  <app-shared-button type="alternative-sub" style="width: 100%" (click)="clickNext()">
    {{ !((cards | async)[(cards | async).length - 1]).isActive ? 'Далее' : 'Начать' }}
  </app-shared-button>
</div>
