<div class="app-wrapper" #appWindow>
  <div class="app-navbar-notch" #statusBar></div>
  <ion-app>
    <ion-content scrollY="false">
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </ion-app>
</div>

<!--<div class="app-wrapper" #appWindow>-->
<!--  <div class="strip">-->
<!--        <input>-->
<!--    20-->
<!--  </div>-->
<!--  <div class="strip">40</div>-->
<!--  <div class="strip">60</div>-->
<!--  <div class="strip">80</div>-->
<!--  <div class="strip">100</div>-->
<!--</div>-->
