<app-shared-select label="Пол" [values]="genderReference" [formControl]="userForm.controls.gender"></app-shared-select>
<!--TODO: add later-->
<!--<app-shared-input label="Возраст" type="number"></app-shared-input>-->
<!--<app-shared-select label="Город проживания"></app-shared-select>-->

<div class="menu-container">
  <div class="flex-free-space"></div>
  <app-page-tabs-user-menu icon="star"> Оценить приложение </app-page-tabs-user-menu>
  <app-page-tabs-user-menu (click)="share()" icon="crowd"> Поделиться с друзьями </app-page-tabs-user-menu>
  <app-page-tabs-user-menu (click)="openFeedback()" icon="fire"> Обратная связь </app-page-tabs-user-menu>
</div>
