.preview-pager-container {
  display: flex;
  justify-content: center;
  gap: 1.2vh;
  margin: 3vh 0 0 0;

  .circle {
    width: 1.1vh;
    height: 1.1vh;
    border-radius: 50%;
    background: #EAEDF5;

    &__active {
      background: #6B7683;
    }
  }
}
