.container {
  display: flex;
  gap: 7vw;
  width: inherit;
  height: inherit;
  padding: 5.3vw;
  box-sizing: border-box;

  & > * {
    margin: auto 0;
  }

  .ion-ripple-color {
    color: lightgray;
  }

  .color {
    width: 2.46vh;
    height: 2.46vh;
    border-radius: 50%;
  }

  .titles {
    flex-grow: 1;
    display: flex;
    justify-content: left;
    gap: 4vw;
    font-size: 2vh;

    &__main {
      font-weight: 500;
      color: #222222;
    }

    &__sub {
      font-weight: 400;
      color: #99A0AB;
    }
  }

  .icon-wrapper {
    width: 1.43vh;
    height: 1.43vh;
    transform: scaleX(-1);

    .icon {
      color: #6B7683;
    }
  }
}
