.image-wrapper {
  width: 26vh;
  height: 26vh;
  background: #EAEDF5;
  border-radius: 50%;
  margin: auto auto 11vh;
}

.title-wrapper {
  font-size: 2.7vh;
  font-weight: 700;
  color: #202D3D;
  margin-bottom: 2.8vh;
}

.description-wrapper {
  font-size: 1.9vh;
  color: #6B7683;
}
