<div class="container">
  <ng-container [ngSwitch]="pageType$ | async">
    <ng-container *ngSwitchCase="'auth'">
      <div class="header"> Евгений </div>
      <div class="subheader"> username@mail.ru </div>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <div class="header"> Профиль </div>
      <div class="subheader"> Войдите или создайте аккаунт </div>
      <app-page-tabs-user-regbutton
        [pageType]="pageType$ | async"
        (changePage)="switchPage($event)"
      ></app-page-tabs-user-regbutton>
    </ng-container>
  </ng-container>

  <ng-container [ngSwitch]="pageType$ | async">
    <app-page-tabs-user-screen-login style="overflow: auto" *ngSwitchCase="'login'"></app-page-tabs-user-screen-login>
    <app-page-tabs-user-screen-reg style="overflow: auto" *ngSwitchCase="'reg'"></app-page-tabs-user-screen-reg>
    <app-page-tabs-user-screen-auth style="overflow: auto" *ngSwitchCase="'auth'"></app-page-tabs-user-screen-auth>
  </ng-container>


</div>
