button {
  width: inherit;
  outline: none;
  height: 6.28vh;
  border-radius: 1vh;
}

.main {
  background: #41485D;
  color: #FFFFFF;
}

.sub {
  background: #EAEDF5;
  color: #2F3441;
}

.skeleton {
  background: #DCE0EB;
  color: transparent;
}
