button {
  width: inherit;
  outline: none;
  height: 6.28vh;
  border-radius: 1vh;
  font-size: 1.65vh;
}

.main {
  background: #2CB172;
  color: #FFFFFF;
}

.main-sub {
  color: #2CB172;
  background: none;
}

.alternative {
  background: #41485D;
  color: #FFFFFF;
}

.alternative-sub {
  color: #6B7683;
  background: none;
}

.skeleton {
  background: #DCE0EB;
  color: transparent;
}
