.container {
  display: flex;
  height: 7.29vh;
  width: 23vh;
  margin: 0 auto;
  background: #F3F7FA;
  border-radius: 6.07vh;
}

span {
  margin: auto;
  font-weight: 700;
  font-size: 2.2vh;
  color: #6B7683;
}
