<div class="container">
  <div class="header">
    <svg-icon (click)="close()" class="icon icon__back" src="assets/icon/svg/back.svg"></svg-icon>
    <span class="title"> Фильтр </span>
    <span (click)="clearFilter()" class="reset-button"> Сбросить </span>
  </div>
  <div class="scroll-wrapper">
    <div class="content">
      <ng-container [ngSwitch]="type$ | async">
        <div *ngSwitchCase="SharedFilterTypes.Main" [@enterTrigger]="'fadeIn'">
          <app-shared-filter-menu-item
            *ngFor="let item of (main$ | async)"
            [data]="item"
            (click)="selectMenu(item.type)"
          ></app-shared-filter-menu-item>
        </div>
        <div *ngSwitchCase="SharedFilterTypes.Color" [@enterTrigger]="'fadeIn'">
          <app-shared-filter-color-item
            *ngFor="let item of colors$ | async"
            [data]="item"
            [isActive]="isActiveFilter(item.id, SharedFilterTypes.Color) | async"
            (click)="selectFilter(item, SharedFilterTypes.Color)"
          ></app-shared-filter-color-item>
        </div>
        <div *ngSwitchCase="SharedFilterTypes.Brand" [@enterTrigger]="'fadeIn'">
          <div class="search-container">
            <app-shared-filter-search></app-shared-filter-search>
          </div>
          <app-shared-filter-brand-item
            *ngFor="let item of brands$ | async"
            [data]="item"
            (click)="selectFilter(item, SharedFilterTypes.Brand)"
          ></app-shared-filter-brand-item>
        </div>
        <div *ngSwitchCase="SharedFilterTypes.Price" [@enterTrigger]="'fadeIn'">
          <app-shared-filter-price-item
            *ngFor="let item of prices$ | async"
            [data]="item"
            [isActive]="isActiveFilter(item.id, SharedFilterTypes.Price) | async"
            (click)="selectFilter(item, SharedFilterTypes.Price)"
          ></app-shared-filter-price-item>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="footer">
    <app-shared-button type="main" style="width: 100%">
      Готово
    </app-shared-button>
  </div>
</div>
