.container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background: #2F3441;

  .image {
    width: 100%;
    object-fit: contain;
  }

  .ui-wrapper {
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 4.9vh 5vw;
    transition: 1s;

    &__disabled {
      visibility: hidden;
      transition: 1s;
    }

    .buttons-container {
      display: flex;
      justify-content: space-between;

      &__big {
        padding: 0 5vw;
      }

      .small-icon-container {
        width: 2.2vh;
        height: 2.2vh;
      }
    }

    .circle-button {
      display: flex;
      width: 16vw;
      height: 16vw;
      border-radius: 50%;
      background: #41485D;

      .icon-container {
        margin: auto;
        width: 30%;
        height: 30%;
      }

      .icon {
        color: #DADADA;
      }
    }
  }
}
