<div (click)="switchVisible()" class="container">
  <img class="image" alt="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT4cXilLqWd8tskKFoG040zVnSymkScPPq_OQ&usqp=CAU">
  <div class="ui-wrapper" [@enterTrigger] *ngIf="isInterface$ | async">
    <div class="buttons-container">
      <div (click)="close()" class="small-icon-container">
        <svg-icon class="icon" [src]="'assets/icon/svg/back.svg'"></svg-icon>
      </div>
      <div class="small-icon-container">
        <svg-icon class="icon" [src]="'assets/icon/svg/trash.svg'"></svg-icon>
      </div>
    </div>
    <div class="buttons-container buttons-container__big">
      <ng-container *ngTemplateOutlet="circleButton; context:{src: 'share'}"></ng-container>
      <ng-container *ngTemplateOutlet="circleButton context:{src: 'search'}"></ng-container>
    </div>
  </div>
</div>

<ng-template #circleButton let-src="src">
  <div class="circle-button ion-activatable ripple-parent">
    <ion-ripple-effect></ion-ripple-effect>
    <div class="icon-container">
      <svg-icon class="icon" [src]="'assets/icon/svg/' + src + '.svg'"></svg-icon>
    </div>
  </div>
</ng-template>
